
<%= form_for(@post) do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
    </p>

  <p>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </p>
  
  #how can i build a checkbox for each category?
  <% Category.all.each do |c| %>
    <p>
      
    </p>
  <% end %>


<% end %>