<h1><%= @post.title %></h1>
<p> <%= @post.content %> </p>
Categories: <%= @post.categories.each do |category| %>
    <%= category.name %> 
  <% end %>


<p>
Comments: 
<ul>
<% @post.comments.each do |comment| %>
 <li>
    <%= comment.user.username %> says: <%= comment.content %> 
  <% end %>
 </li>
</ul>

<p> Users who commented: 
 <ul>
 <li><% @post.users.uniq.each do |user| %>
 <%= link_to user.username, user_path(user.id) %>
 <% end %>
 </li>
 </ul>
</p>

Leave a comment: 
<%= form_for @comment do |f| %>

  <%= f.label "Username" %>
  <%= f.collection_select :user_id, User.all, :id, :username %>
  <%= f.fields_for :user, @comment.build_user do |user_fields| %>
    <%= user_fields.label :username %> :
    <%= user_fields.text_field :username %>
  <% end %>

  <%= f.label "Content" %>
  <%= f.text_area :content %>
  <%= f.hidden_field :post_id, value: @post.id %>

  <%= f.submit %>
<% end %>
</p>



